<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>world without hunger</title>
    <link rel="stylesheet " href="{% static 'theme/css/utility.css' %}">
    <link rel="stylesheet" href="{% static 'theme/css/style.css' %}">
</head>

<body>
    <div class="navigation">
        <div class="nav-left">
            <h1>WORLD WITHOUT HUNGER</h1>
        </div>
        <div class="nav-right">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About us </a></li>
                <li><a href="contact">Contact us</a> </li>
                <li><a href="#">Your Profile </a></li>
            </ul>
        </div>
    </div>
    <div class="content max-width-1 m-auto ">
        <div class="content1">
            <img src="https://muslimhands.org.uk/_ui/images/97b5958d6e96.jpg" alt="image isn't clear">
            <h1> <B>WORLD WITHOUT HUNGER </B> PROVIDES YOU PLATFORM TO TRYING TO CONNECT HUNGRY PEOPLE AND FOOD THAT
                GOING TO BE WASTED </h1>
            <p>
                All our initiatives are designed to provide essential food support to underserved communities in
                the form of raw grains, freshly cooked food or packaged food products depending on the need. Our aim is
                to ensure, hunger never comes in the way of a brighter future

            </p>
        </div>
        <div class="contentmain">
            <div class="contentmain-left">
                <h2> Donate meal</h2>
                <P>
                    In India each day 7 thousand people die due to hunger , and on the other side large amount of food
                    is
                    wasted. Your wasted food is going to save thousands of life.
                </P><br><br>
                <a href="donatefood"><button>Donate Now</button></a>

            </div>
            <div class="contentmain-right">
                <img src="https://media.istockphoto.com/photos/donate-food-to-hungry-people-concept-of-poverty-and-hunger-picture-id1060352560?k=6&m=1060352560&s=170667a&w=0&h=NQUIBWe233MNQ-iW9gYncV_km6ydvALc69mSRGuqnvI="
                    alt="image isn't visible" height="100" width="100">

            </div>
        </div>
        <div class="max-width-1 m-auto">
            <hr>
        </div>
        <div class="contentmain">
            <div class="contentmain-left">
                <h2> Volunteer Registration</h2>
                <P>
                    YOUR SUPPORT MATTERS<br>
                    Contribute to help us provide essential food support to those in need.
                    Volunteer role is pick up the donated food and supply to needy person . We will provide here all
                    that you need.

                </P><br><br>
                <a href="volunteer_registration"><button>Register now</button></a>

            </div>
            <div class="contentmain-right">
                <img src="http://city-sentinel.com/wp-content/uploads/2012/01/PAGE-ONE-FoodBank-Chesapeakevolunteer-Photo-2.jpg"
                    alt="image isn't visible" height="100" width="100">
            </div>
        </div>
        <div class="max-width-1 m-auto">
            <hr>
        </div>
        <div class="contentmain">
            <div class="contentmain-left">
                <h2>Request Food</h2>
                <P>

                    Get support<br>
                    Reach out to us if you’re an NGO, private organisation or educational institute that is in need of
                    food support
                </P><br><br>
                <a href="ngo_registration"><button>Request</button></a>

            </div>
            <div class="contentmain-right">
                <img src="https://askopinion.com/images/Files/UserFiles/posting/lrg/2017/9/ngo-rey.jpg"
                    alt="image isn't visible" height="100" width="100">

            </div>
        </div>
        <div class="max-width-1 m-auto">
            <hr>
        </div>
        <div class="contentmain">
            <div class="contentmain-left">
                <h2> Donate Money</h2>
                <P>
                    If you can give small financial help
                    It will be a huge contribution.Your money directly goes to NGO'S which need regular meal.

                </P><br><br>
                <a href="donatemoney"><button>Donate Now</button></a>

            </div>
            <div class="contentmain-right">
                <img src="https://www.youngadultmoney.com/wp-content/uploads/2014/05/Feed-My-Starving-Children-Donating-to-Nonprofits-When-in-Debt.jpg"
                    alt="image isn't visible" height="100" width="100">

            </div>
        </div>
    </div>
    <div class="footer  ">
        <p>Copyright &copy;feedingindia.org</p>
        <a href="https://www.feedingindia.org/">feedingindia</a>


    </div>
</body>

</html>